<article class="col">
        <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center justify-content-between mb-2">
                <div class="d-flex align-items-center text-elipsis">
                    <h4 class="text-primary fw-bold m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{title}}">{{title}}&nbsp;</h4>
                    <span class="fw-bold fs-6 text-success mt-1" id="due-date"> - {{due_date}}&nbsp;</span>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary py-0 dropdown-toggle" type="button" id="milestone-{{id}}-status" data-bs-toggle="dropdown" aria-expanded="false">{{status}}</button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="milestone-{{id}}-status">
                        <li class="dropdown-item selected">To Do</li>
                        <li class="dropdown-item">In Progress</li>
                        <li class="dropdown-item">Complete</li>
                        <li class="dropdown-divider"></li>
                        <li class="dropdown-item text-danger">Delete</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-3 my-auto">
                    <div class="d-flex justify-content-around">
                        <i class="fas fa-medal fa-4x text-primary" id="icon"></i>
                    </div>
                </div>
                <p class="col-9 my-auto">
                    {{description}}
                    {{!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem aut vel itaque perspiciatis dicta? --}}
                </p>
            </div>
        </div>
    </div>
</article>